.loginContainer {
  min-height: 100vh;
  overflow: auto;
  background: transparent linear-gradient(180deg, #ffecd7 0%, #ffc9c9 100%) 0%
    0% no-repeat;
  .headingPng {
    width: 288px;
    height: 106px;
  }
  > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .loginVendor {
      margin-left: 95px;
      width: 724px;
      height: 507px;
    }
  }
  .loginButton {
    margin-top: 2rem;
  }
}
